<app-header></app-header>
<section>
  <div class="favorite">
    <h1 class="abel">Favorite</h1>
    <div class="items">
      <div class="item">
        <div class="image">
          <img src="/img/appleairpods.png" alt="" />
        </div>
        <div class="text">
          <h2 class="abeezee">AirPods Max Silver</h2>
          <p class="abel">#53459358345</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="/img/apple-wath.png" alt="" />
        </div>
        <div class="text">
          <h2 class="abeezee">
            Apple Watch Series 9 GPS 41mm Starlight Aluminium
          </h2>
          <p class="abel">#63632324</p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
