.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  p {
    line-height: 16px;
    color: #6c6c6c;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 0.03em;
    span {
      color: black;
      font-style: italic;
      font-size: 20px;
      letter-spacing: 0.03em;
    }
  }
}
.sort-dropdown {
  width: 256px;
  height: 40px;
  button {
    width: 100%;
    cursor: pointer;
    border: 0.5px #d4d4d4;
    border-radius: 8px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    p {
      font-size: 16px;
      font-weight: 400;
      color: black;
      letter-spacing: -0.05em;
    }
  }
}
@media (max-width: 600px) {
  .filter {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .sort-dropdown {
    width: 164px;
    min-height: 56px;
    height: auto;
  }
  .dropdown-toggle {
    height: 56px;
  }
}
.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 56px;
  flex-wrap: wrap;
  width: 100%;
}
.product {
  border-radius: 9px;
  max-width: 268px;
  width: 100%;
  min-height: 456px;
  background-color: #f6f6f6;
  padding: 24px 16px;
  transition: 0.3s;
  &:hover {
    transform: scale(1.05);
    border: 1px solid black;
    background-color: #e2e1e1;
  }
}
.like {
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
}
.like-icon {
  fill: none;
  stroke: #666;
  stroke-width: 2;
  transition: all 0.3s ease;

  &.liked {
    fill: red;
    stroke: red;
  }
}

.item {
  margin: 16px auto;
  width: 160px;
  height: 160px;
  img {
    user-select: none;
    width: 100%;
    height: 100%;
  }
}
.text {
  text-align: center;
}
.name {
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
}
.price {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 3%;
  line-height: 24px;
  margin-top: 5px;
}
.btnContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  button {
    width: 186px;
    height: 48px;
    background-color: black;
    border-radius: 8px;
    margin-top: 24px;
    cursor: pointer;
    span {
      color: white;
      font-size: 14px;
      font-style: italic;
      line-height: 24px;
    }
  }
}
.loading,
.error {
  text-align: center;
  padding: 40px;
  font-size: 18px;
}

.error {
  color: #ff3d57;
}
.pages {
  display: flex;
  align-items: center;
  margin: 40px auto 0;
  max-width: 276px;
  height: 32px;

  button {
    cursor: pointer;
    width: 32px;
    height: 100%;
    border-radius: 5px;
    background-color: #f6f6f6;
    margin-right: 8px;
    border: none;
    transition: all 0.3s ease;

    span {
      font-style: italic;
      font-size: 16px;
      line-height: 24%;
      letter-spacing: 0.03em;
    }

    &.active {
      background-color: black;
      color: white;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:first-child,
    &:last-child {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      margin-right: 16px;

      img {
        width: 6px;
        height: 12px;
      }
    }

    &:last-child {
      margin-left: 8px;
      margin-right: 0;
    }
  }

  .dots {
    background: transparent;
    color: #737373;
    cursor: default;
    pointer-events: none;
  }
}

@media (max-width: 800px) {
  .product {
    max-width: 200px;
  }
  .rating {
    width: 164px;
    height: 56px;
  }
}
