<section>
    <div class="container">
        <div class="filter">
            <p>New Arrival</p>
            <p>Bestseller</p>
            <p>Featured Products</p>
        </div>
        <div class="products">
            <div class="product">
                <div class="like">
                    <img src="/img/like.svg" alt="" />
                </div>
                <div class="item">
                    <img src="/img/Iphone.png" alt="" />
                </div>
                <div class="text">
                    <p class="name">
                        Apple iPhone 14 Pro Max 128GB Deep Purple (MQ9T3RX/A)
                    </p>
                    <p class="price">$900</p>
                </div>
                <div class="btnContainer">
                    <button><span>Buy Now</span></button>
                </div>
            </div>
        </div>
    </div>
</section>