<footer>
    <div class="grid-container">
        <div>
            <img src="/img/whitelogo.svg" alt="" />
            <p class="abeezee">
                We are a residential interior design firm located in Portland. Our
                boutique-studio offers more than
            </p>
        </div>
        <div>
            <nav>
                <ul>
                    <li class="abel">Services</li>
                    <li class="abel">Bonus program</li>
                    <li class="abel">Gift cards</li>
                    <li class="abel">Credit and payment</li>
                    <li class="abel">Service contracts</li>
                    <li class="abel">Non-cash account</li>
                    <li class="abel">Payment</li>
                </ul>
            </nav>
        </div>
        <div>
            <nav>
                <ul>
                    <li class="abel">Assistance to the buyer</li>
                    <li class="abel">Find an order</li>
                    <li class="abel">Terms of delivery</li>
                    <li class="abel">Exchange and return of goods</li>
                    <li class="abel">Guarantee</li>
                    <li class="abel">Frequently asked questions</li>
                    <li class="abel">Terms of use of the site</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="social">
        <img src="img/Twitter.svg" alt="">
        <img src="img/facebook.svg" alt="">
        <img src="img/tiktok.svg" alt="">
        <img src="img/Instagram.svg" alt="">
    </div>
</footer>