<header>
  <div class="headerContainer">
    <a routerLink="/">
      <div class="logo">
        <img class="desktopLogo" src="/img/headerLogo.svg" alt="" />
        <img class="mobileLogo" src="/img/whitelogo.svg" alt="" />
      </div>
    </a>
    <div class="searchWrapper">
      <div class="search">
        <img src="/img/Search.svg" alt="search" />
        <input type="search" placeholder="Search " />
      </div>
    </div>
    <div class="icons">
      <button>
        <img src="/img/like.svg" alt="like" />
      </button>
      <button>
        <img src="/img/cart.svg" alt="cart" />
      </button>
    </div>
    <button class="mobileBurger" (click)="toggleModal()">
      <img src="/img/Burger.svg" alt="" />
    </button>
  </div>
  <div class="mobileModal" [class.active]="isModalOpen">
    <div class="modalContent">
      <div class="modalHeader">
        <img class="modalLogo" src="/img/whitelogo.svg" alt="Logo" />
        <button class="closeModal" (click)="toggleModal()">&times;</button>
      </div>
      <div class="modalSearch">
        <img src="/img/Search.svg" alt="search" />
        <input type="search" placeholder="Search " />
      </div>
      <div class="modalIcons">
        <button>
          <img src="/img/like.svg" alt="like" />
          <span>Favorites</span>
        </button>
        <button>
          <img src="/img/cart.svg" alt="cart" />
          <span>Cart</span>
        </button>
      </div>
    </div>
  </div>
</header>
