<section>
    <div class="container">
        <div class="title">
            <h2 class="abeezee">Browse By Category</h2>
            <div class="arrows">
                <button><img src="/img/navArrow.svg" alt="" /></button>
                <button><img src="/img/navArrow.svg" alt="" /></button>
            </div>
        </div>
        <div class="categories">
            <div class="category">
                <div>
                    <img src="/img/Phones.svg" alt="" />
                    <p class="abeezee">Phones</p>
                </div>
            </div>
            <div class="category">
                <div>
                    <img src="/img/SmartWatches.svg" alt="" />
                    <p class="abeezee">Smart Watches</p>
                </div>
            </div>
            <div class="category">
                <div>
                    <img src="/img/Cameras.svg" alt="" />
                    <p class="abeezee">Cameras</p>
                </div>
            </div>
            <div class="category">
                <div>
                    <img src="/img/Headphones.svg" alt="" />
                    <p class="abeezee">Headphones</p>
                </div>
            </div>
            <div class="category">
                <div>
                    <img src="/img/Computers.svg" alt="" />
                    <p class="abeezee">Computers</p>
                </div>
            </div>
            <div class="category">
                <div>
                    <img src="/img/Gaming.svg" alt="" />
                    <p class="abeezee">Gaming</p>
                </div>
            </div>
        </div>
    </div>
</section>