<section>
    <div class="container">
        <div class="title">
            <h2 class="abeezee">Browse By Category</h2>
            <div class="arrows">
                <button (click)="prev()" [disabled]="currentPosition() === 0">
                    <img src="/img/navArrow.svg" alt="Previous" />
                </button>
                <button (click)="next()" [disabled]="currentPosition() + visibleCategories() >= categories().length">
                    <img src="/img/navArrow.svg" alt="Next" [style.transform]="flipArrow('/img/navArrow.svg')" />
                </button>
            </div>
        </div>
        <div class="categories">
            @for (category of visibleItems(); track category.name) {
            <div class="category">
                <div>
                    <img [src]="category.icon" [alt]="category.name" />
                    <p class="abeezee">{{category.name}}</p>
                </div>
            </div>
            }
        </div>
    </div>
</section>