<section>
    <div class="products">
        <div class="product">
            <img src="/img/item.png" alt="" />
            <div class="text">
                <h2 class="abeezee">Popular Products</h2>
                <p class="abeezee">
                    iPad combines a magnificent 10.2-inch Retina display, incredible
                    performance, multitasking and ease of use.
                </p>
                <button class="styledBtn"><span class="abeezee">Shop Now</span></button>
            </div>
        </div>
        <div class="product">
            <img src="/img/item1.png" alt="" />
            <div class="text">
                <h2 class="abeezee">Popular Products</h2>
                <p class="abeezee">
                    iPad combines a magnificent 10.2-inch Retina display, incredible
                    performance, multitasking and ease of use.
                </p>
                <button class="styledBtn"><span class="abeezee">Shop Now</span></button>
            </div>
        </div>
        <div class="product">
            <img src="/img/item2.png" alt="" />
            <div class="text">
                <h2 class="abeezee">Popular Products</h2>
                <p class="abeezee">
                    iPad combines a magnificent 10.2-inch Retina display, incredible
                    performance, multitaski тng and ease of use.
                </p>
                <button class="styledBtn"><span class="abeezee">Shop Now</span></button>
            </div>
        </div>
        <div class="product">
            <img src="/img/item3.png" alt="" />
            <div class="text">
                <h2 class="abeezee">Popular Products</h2>
                <p class="abeezee">
                    iPad combines a magnificent 10.2-inch Retina display, incredible
                    performance, multitasking and ease of use.
                </p>
                <button class="styledBtn"><span class="abeezee">Shop Now</span></button>
            </div>
        </div>
    </div>
</section>