<app-header></app-header>
<section>
  <div class="container">
    <h1 class="abel">Shopping Cart</h1>
    <div class="grid">
      <div class="items">
        <div class="item" *ngFor="let item of cartService.getCartItems()">
          <!-- cart.component.html -->
          <div class="image">
            <img [src]="getProductImage(item.product)" [alt]="item.product.name" />
          </div>
          <div class="text">
            <h2 class="abeezee">{{item.product.brand}} {{item.product.name}}</h2>
            <p class="abel">#{{item.product.id}}</p>
          </div>
          <div class="controls">
            <div class="counter">
              <button (click)="decrementQuantity(item.product.id)">-</button>
              <span class="abeezee">{{item.quantity}}</span>
              <button (click)="incrementQuantity(item.product.id)">+</button>
            </div>
            <div class="price">
              <p class="abeezee">{{(item.product.displayPrice || item.product.price) * item.quantity |
                currency:'USD':'symbol':'1.0-0'}}</p>
              <span (click)="removeItem(item.product.id)">X</span>
            </div>
          </div>
        </div>
        <div *ngIf="cartService.getCartItems().length === 0" class="empty-cart">
          <p class="abeezee">Your cart is empty</p>
        </div>
      </div>
      <div class="form">
        <h1 class="abeezee">Order Summary</h1>
        <form class="forms">
          <p class="abeezee">Discount code / Promo code</p>
          <div class="inputWrapper">
            <input type="text" placeholder="Code" />
          </div>
          <p class="abeezee">Your bonus card number</p>
          <div class="inputWrapper">
            <input type="text" placeholder="Enter Card Number" />
            <button><span class="abeezee">Apply</span></button>
          </div>
        </form>
        <div class="formPrice">
          <div>
            <p class="abeezee">Subtotal</p>
            <p class="abeezee">{{cartService.getSubtotal() | currency:'USD':'symbol':'1.0-0'}}</p>
          </div>
          <div>
            <p class="abel">Estimated Tax</p>
            <p class="abeezee">{{cartService.getTax() | currency:'USD':'symbol':'1.0-0'}}</p>
          </div>
          <div>
            <p class="abel">Estimated shipping & Handling</p>
            <p class="abeezee">{{cartService.getShipping() | currency:'USD':'symbol':'1.0-0'}}</p>
          </div>
          <div>
            <p class="abeezee">Total</p>
            <p class="abeezee">{{cartService.getTotal() | currency:'USD':'symbol':'1.0-0'}}</p>
          </div>
        </div>
        <button class="btn" (click)="checkout()" [disabled]="cartService.getCartItems().length === 0">
          <span class="abeezee">Checkout</span>
        </button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>