<app-header></app-header>
<section>
  <div class="container">
    <h1 class="abel">Shopping Cart</h1>
    <div class="grid">
      <div class="items">
        <div class="item">
          <div class="image">
            <img src="/img/Iphone.png" alt="" />
          </div>
          <div class="text">
            <h2 class="abeezee">Apple iPhone 14 Pro Max 128Gb Deep Purple</h2>
            <p class="abel">#25139526913984</p>
          </div>
          <div class="controls">
            <div class="counter">
              <button>-</button>
              <span class="abeezee">1</span>
              <button>+</button>
            </div>
            <div class="price">
              <p class="abeezee">$1399</p>
              <span>X</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="/img/appleairpods.png" alt="" />
          </div>
          <div class="text">
            <h2 class="abeezee">AirPods Max Silver</h2>
            <p class="abel">#53459358345</p>
          </div>
          <div class="controls">
            <div class="counter">
              <button>-</button>
              <span class="abeezee">1</span>
              <button>+</button>
            </div>
            <div class="price">
              <p class="abeezee">$549</p>
              <span>X</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="/img/apple-wath.png" alt="" />
          </div>
          <div class="text">
            <h2 class="abeezee">
              Apple Watch Series 9 GPS 41mm Starlight Aluminium
            </h2>
            <p class="abel">#63632324</p>
          </div>
          <div class="controls">
            <div class="counter">
              <button>-</button>
              <span class="abeezee">1</span>
              <button>+</button>
            </div>
            <div class="price">
              <p class="abeezee">$399</p>
              <span>X</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form">
        <h1 class="abeezee">Order Summary</h1>
        <form class="forms">
          <p class="abeezee">Discount code / Promo code</p>
          <div class="inputWrapper">
            <input type="text" placeholder="Code" />
          </div>
          <p class="abeezee">Your bonus card number</p>
          <div class="inputWrapper">
            <input type="text" placeholder="Enter Card Number" />
            <button><span class="abeezee">Apply</span></button>
          </div>
        </form>
        <div class="formPrice">
          <div>
            <p class="abeezee">Subtotal</p>
            <p class="abeezee">$2347</p>
          </div>
          <div>
            <p class="abel">Estimated Tax</p>
            <p class="abeezee">$50</p>
          </div>
          <div>
            <p class="abel">Estimated shipping & Handling</p>
            <p class="abeezee">$29</p>
          </div>
          <div>
            <p class="abeezee">Total</p>
            <p class="abeezee">$2426</p>
          </div>
        </div>
        <button class="btn"><span class="abeezee">Checkout</span></button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
