*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}

.container {
  width: 1120px;
  margin: 0 auto;
}
.abel {
  font-family: "Abel", sans-serif;
}
.abeezee {
  font-family: "ABeeZee", sans-serif;
}
